<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url({{ 'assets/images/bg.jpg' | theme }});" data-img-width="2000" data-img-height="1333" data-diff="100">

    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <!-- /.logo -->
                    <div class="logo wow fadeInDown"> <a href=""><img src={{ "assets/images/logo.png" | theme }} alt="logo"></a></div>

                    <!-- /.main title -->
                    <h1 class="wow fadeInLeft">
                        Beautiful High Converting Landing Page
                    </h1>

                    <!-- /.header paragraph -->
                    <div class="landing-text wow fadeInUp">
                        <p>Backyard is a modern and customizable landing page template designed to increase conversion of your product. Backyard is flexible to suit any kind of your business. Try now and join with our happy customers!</p>
                    </div>

                    <!-- /.header button -->
                    <div class="head-btn wow fadeInLeft">
                        <a href="#feature" class="btn-primary">Features</a>
                        <a href="#download" class="btn-default">Download</a>
                    </div>

                </div>

                <!-- /.signup form -->
                <div class="col-md-5">

                    <div class="signup-header wow fadeInUp">
                        <h3 class="form-title text-center">GET STARTED</h3>
                        <form class="form-header" action="http://moxdesign.us10.list-manage.com/subscribe/post" role="form" method="POST" id="#">
                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                            <input type="hidden" name="id" value="bfdba52708">
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Your name" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email address" required>
                            </div>
                            <div class="form-group last">
                                <input type="submit" class="btn btn-warning btn-block btn-lg" value="SUBSCRIBE">
                            </div>
                            <p class="privacy text-center">We will not share your email. Read our <a href="privacy.html">privacy policy</a>.</p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>